@font-face {
    font-family: "Cursive";
    src: url("/fonts/cartograph-sans-cf.woff");
}

.view-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);

    >*{
        grid-column: 1;
        grid-row: 1;
        overflow-y: scroll;
    }
}

app {
    display: flex;
    width: 950px;
    height: 950px;
    box-sizing: border-box;
    flex-direction: column;
    padding-top: 26px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    gap: 4px;
}

app_content {
    display: grid;
    border-radius:32px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);

    >*{
        grid-column: 1;
        grid-row: 1;
    }
}

crt_mask {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    display: grid;
    width: 850px;
    height: 850px;

    /* min-width: 0; */
}

crt_mask>* {
    grid-row: 1/2;
    grid-column: 1/2;
    min-height: 0;
    min-width: 0;
    border-radius: 12px;
}

crt_mask>background {
    filter: brightness(.8);
    z-index: -100;
}


body {
    /* align everthing to the center */
    background-color: #1b011b ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* button{
    border-radius: 4px;
    border: solid 1px;
    border-color: #b2d942 ;
    background: none;
    font-family: Kode Mono;
    color: white;
} */

* {
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: "Cursive";
    /* scrollbar-width: none; */
    scroll-behavior: smooth;
}

img {
    object-fit: cover;
    object-position: center;
}

button {
    border: solid 0px;
    background: none;
    color: white;
}

button:hover {
    color: #ff00ee !important;
}

@media screen and (max-width:950px),(max-height:950px)  {
    app {
        width: 100% !important;
        height: 100% !important;
        mask-image: unset !important;
    }

}
