@font-face {
    font-family: "Cursive";
    src: url("/fonts/cartograph-sans-cf.woff");
}

.view-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);

    >*{
        grid-column: 1;
        grid-row: 1;
        overflow-y: scroll;
    }
}

app {
    display: flex;
    width: 850px;
    height: 850px;
    box-sizing: border-box;
    flex-direction: column;
    padding-top: 26px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;

    gap: 8px;
}

app_content {
    display: grid;
    border-radius:12px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 1px rgba(255, 255, 255, 0.1) solid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);

    >*{
        grid-column: 1;
        grid-row: 1;
    }
}

body {
    /* align everthing to the center */
    
    background-color: #000000 ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* button{
    border-radius: 4px;
    border: solid 1px;
    border-color: #b2d942 ;
    background: none;
    font-family: Kode Mono;
    color: white;
} */

* {
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: "Lexend", sans-serif;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

img {
    object-fit: cover;
    object-position: center;
}

button {
    border: solid 0px;
    background: none;
    color: white;
}

button:hover {
    color: #ff00ee !important;
}

@media screen and (max-width:850px),(max-height:850px)  {
    app {
        width: 100% !important;
        height: 100% !important;
        mask-image: unset !important;
    }

}
