@import url("topbar.css");
@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Syne:wght@400..800&display=swap');
@import url('home.css');
@import url('about.css');
@import url("photos.css");
@import url("cool_websites.css");

viewport-begin {
    display: none;
}

#app-container {
    display: flex;
    flex-direction: column;
    width: 850px;
    height: 850px;
    gap: 14px;
}

#app-viewport {
    height: 100%;
}

#hidden_views {
    display: none;
}

iframe {
    border: none;
}

body {
    align-items: center;
    background-color: #b200ff !important;
    justify-content: center;
    display: flex;
    height: 100%;
    overflow: hidden;

}

@media screen and (max-width: 850px), (max-height: 850px) {
    #app-container {
        width: 95% !important;
        height: 95% !important;
    }
}


* {
    font-family: "Syne";
    margin: 0;
}
