projects_container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 80%;
    height: 80%;
}

projects_container project{
    border: solid black 8px;
    border-radius: 12px !important;
    box-sizing: border-box;
    background-color: black;
    width: 214px;
    height: 214px;
}

projects_page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}