.default {
    --red: #ff156b;
    --dark-red: #940c3e;
    --green: #62ff89;
    --dark-green: #35cb97;
    --brown: #f2ae99;
    --dark-brown: #c97373;
    --yellow: #ffed96;
    --dark-yellow: #ffb566;
}

.cozy {
    background-image: url("/images/themes/cozy.png");
    background-size: cover;
    --red: #ea6262;
    --dark-red: #a32858;
    --green: #abdd64;
    --dark-green: #5ba675;
    --brown: #fcef8d;
    --dark-brown: #ffb879;
    --yellow: #d9bdc8;
    --dark-yellow: #7b5480;

    #my-socials{
        h2 {
            text-shadow: 1px 1px rgba(0, 0, 0, 0.453);
            color: white;
        }
    }
    .topbar-selected{
        /* background-color:var(--dark-yellow);
        border-color: var(--dark-yellow);
        color: white !important; */
    }

}
