#topbar {
    display: flex;
    z-index: 1;
    /* justify-content: center; */
    align-items: center;
    /* backdrop-filter: blur(12px); */
    gap: 12px;
    a {
        
        color: rgb(255, 255, 255);
        border-radius: 16px;
        text-decoration: none;
        font-weight: bold
        
    };
    #logo{
        background-color: rgba(0,0,0,0) !important;
        border: none !important;
        align-self: flex-start;
    }
}

.topbar-selected {
    filter: invert();
    background-color: black;
    border: solid 8px black;
}
