topbar {
    height: 24px;   
    display: flex;
    align-self: center;
    justify-content: center;
    border-radius: 12px;

    /* background-color:  #000000; */
    gap: 4px;
}

.topbar_main{
    position: relative;
    background: none;
    width: 100%;
    padding: 2px;
    z-index: 999;
}