* {
    color: white;
    font: 1rem Verdana, sans-serif;
  }
  
  h1 {
    font: 2.15rem Verdana, sans-serif;
  }
  
  h2 {
    font: 1.5rem Verdana, sans-serif !important;
  }
  
  button {
    background-color: rgb(0, 0, 0, 0);
    height: 100%;
    border: none;
    border-radius: 8px;
    border-color: rgb(255, 0, 128) !important;
  }

  button:hover{
    border: dashed 3px;
  }
  
  img {
    max-width: 100%;

    padding: 4px 4px 4px 4px;
  }

  .blur {
    backdrop-filter: blur(35px);
  }
  
  .vbox {
    display: flex;
    flex-direction: column;
  }

  .vbox * {
    margin: 0px 0px 24px 0px;
  }

  .centered {
    justify-content: center;
  }

  .hbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .fill{
    height: 100%;
  }

  .img128 img{
    width: 128px;
    height: 128px;
    object-fit: cover;
  }

  .img16_9 img{
    height: 128;
  }

  .warp *{
    flex-wrap: wrap;
  }
  
  .projects_box {
    width: 255px;
    height: 255px;
  }
  .background , img {
  
    background-color: rgba(145, 100, 100, 0.25);
    border-radius: 16px;
    border-style: dashed;
    border-color: rgba(255, 255, 255, 0.25);
    border-width: 4px;
  }
  
  .light{
    background-color: rgba(0, 0, 0, 0.234);
    border-style: 2px;
  }
  ._8px_pad>div {
    margin: 0px 0px 24px 0px;
  }
  
  ._8px_box_pad * {
    margin: 8px 8px 8px 8px;
    box-sizing: border-box;
  }

  .align_vertical {
    display: table;
  }

  .project_btn button{
    background-color: rgb(0, 0, 0, 0.5) !important;
    max-height: 42px;
    margin-top: auto;
  }
  
  .align_vertical_cell {
    display: table-cell;
    vertical-align: middle;
  }
  
  #backdrop {

    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

  }
  
  .farleft {
    margin-left: auto;
  }
  
  .farbottom {
    margin-bottom: auto;
  }
  
  #center_container{

    display: flex;
    align-items: center;   
    height: 100%;

  }

  #inner{
    margin: auto;
  }

  
  #center_container > div{
    width:100%;
  }  

  #main_container{
  
    width:100%;
    height:100%;
    display: flex;
    align-items: center;   
    flex-direction: column;

    
  }

  #main_container > div{
    width: 800px;
  }

  @media (max-width: 800px) {
    #backdrop {
        padding: 0px 0px 0px 0px;
    }
    #main_container > div{
        width: 100%;
    }
    
  }

  #navbar {
    min-height: 44px;
    height: 44px;
    padding: 0px 16px 0px 16px;
    box-sizing: border-box;
  }
  
  #main {
    display: flex;
  }
  

  #desc {
    flex: 1;
  }

  #hi_title{
    flex:1;
    text-align: center;
  
  }
  
  #cat_img {

   -items: center;
  }

  #pfp{
    align-items: center; 
  }
  
  
  #popup{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0%;
    left:0%;
    width: 100vw;
    height: 100vh;
  }

