<div id="app-about">
    <div id="about-topbar" style="display: none;">
        <a href="#intro">
            intro
        </a>
        <a href="#where-i-live">
            where i live
        </a>
        <a href="#hobbies">
            hobbies
        </a>
        <a href="#socials">
            socials
        </a>
    </div>
    <div id="intro">
        <h1 id="intro_t1">hi, im venv </h1>
        <p>im a human who likes to do stuff.</p>
        <b>SWIPE UP TO INTERACT</b>

        <!-- <a href="#where-i-live" class="next_button">next</a> -->
    </div>

    <div id="where-i-live" class="round">
        <video src="/assets/images/about/earth.mp4" autoplay muted loop></video>
        <p id="where-i-live-p1">i live on this rock with water <br> (i think they call it earth) </p>
    </div>

    <div id="hobbies" class="pad">
        <h1>my hobbies</h1>
        <div id="hobby-container">
            <div class="info-outline round">
                <h4>3d art</h4>
                <p> recently (jan 2025), i've gotten into using blender because i can't draw, and also because im using
                    godot engine.
                </p>
                <br>
                <br>
                <p>i kinda know how to make stuff without a tutorial now ^-^</p>
                <br>
                <p> you can view my work at my </p><a href="https://bsky.app/profile/venv-at.bsky.social">bluesky</a>
            </div>
            <div class="info-outline round">
                <h4>photography</h4>
                <p> sometimes i go outside and i take photos to share them with the world.
                </p>
            </div>
            <div id="hobby-programming" class="info-outline round">
                <h4>programming</h4>
                <p>i like to code! (i dont do it that much anymore)</p>
                <b>heres all of the languages that i know:</b>
                <div class="info-outline round">
                    <i class="devicon-lua-plain"></i>
                    <p>lua</p>
                    <p>easy language, im pretty good at it</p>
                </div>
                <div class="info-outline round">
                    <i class="devicon-python-plain"></i>
                    <p>python</p>
                    <p>easy language, im pretty good at it</p>
                    <p>hate indenting tho</p>
                </div>
                <div class="info-outline round">
                    <i class="devicon-rust-original"></i>
                    <p>rust</p>
                    <p>i tihnk i forgot how to code rust</p>
                </div>
                <div class="info-outline round">
                    <i class="devicon-typescript-plain"></i>
                    <p>typescript</p>
                    <p> i hate webdev</p>
                </div>
                <div class="info-outline round">
                    <i class="devicon-opengl-plain"></i>
                    <p>glsl</p>
                    <p>i write shaders</p>
                </div>
            </div>
        </div>

    </div>

    <div id="socials" class="pad">
        <h2>my socials! you can find me here:</h2>
        <div id="socials-container">
            <div id="clock">
                <p>i live in the Mountain Standard time zone, so my time is:</p>
                <h1 id="clock-time">00:00</h1>
            </div>
            <div class="info-outline round">
                <i class="devicon-python-plain"></i>
                discord - venv
                <br>
            </div>
            <div class="info-outline round">
                <i class="devicon-python-plain"></i>
                <a href="https://bsky.app/profile/venv-at.bsky.social">click to see my bluesky</a>
            </div>
            <div class="info-outline round">
                <i class="devicon-python-plain"></i>
                <a href="https://bsky.app/profile/venv-at.bsky.social">bluesky</a>
            </div>
            <div class="info-outline round">
                <i class="devicon-python-plain"></i>
                <a href="https://github.com/no-venv/">github</a>
            </div>
            <div class="info-outline round">
                <i class="devicon-python-plain"></i>
                <a href="https://leetcode.com/u/user9069aa/">leetcode</a>
            </div>
        </div>


    </div>


</div>
