<div id="app-about">
    <div id="where-i-live"> </div>
    <div id="clock">
        <p>i live in the Mountain Standard time zone, so my time is:</p>
        <h1 id="clock-time">00:00</h1>
    </div>
    <div id="my-hobbies">
        my hobbies are: <br>
        ➼ mathematics <br>
        ➼ programming<br>
        ➼ cybersecurity <br>
        ➼ 3D art
    </div>
    <div id="my-socials">
        <h2>wanna reach out?</h2>
        <div id="my-socials-container">
            <a>discord - venv</a>
            <a href="https://bsky.app/profile/venv-at.bsky.social">click to see my bluesky</a>
        </div>
    </div>

    <div id="cute-animals"> </div>

</div>
