<div id="app-about">
    <div id="about-topbar" style="display: none;">
        <a href="#intro">
            intro
        </a>
        <a href="#where-i-live">
            where i live
        </a>
        <a href="#hobbies">
            hobbies
        </a>
        <a href="#socials">
            socials
        </a>
    </div>
    <div id="intro">
        <h1 id="intro_t1">hi, im venv </h1>
        <p>im a human who likes to do stuff.</p>
        <b>
            <span id="mobile-inst">
                <span class="touch-font">
                    &#xe012;
                </span>
            </span>
            <span id="desktop-inst">
                <span class="keyboard-font">
                    &#xe024;
                </span>
                <span class="keyboard-font">
                    &#xe01E;
                </span>
            </span>
            to navigate
        </b>
        <!-- <b>SWIPE UP TO INTERACT</b> -->

        <!-- <a href="#where-i-live" class="next_button">next</a> -->
    </div>

    <div id="where-i-live" class="round">
        <video src="/assets/images/about/earth.mp4" autoplay muted loop></video>
        <p id="where-i-live-p1">i live on this rock with water <br> (i think they call it earth) </p>
    </div>

    <div id="hobbies" class="pad">
        <h1>my hobbies</h1>
        <div id="hobby-container">
            <div class="info-outline round">
                <h4>3d art</h4>
                <p>
                    recently (jan 2025), i've gotten into using blender because i need an outlet to express myself.
                    <br>
                    <br>
                    i can't draw, so blender is now my goto.
                    i kinda know how to make stuff without a tutorial now ^-^
                    <br>
                    <br>
                    i wanna do 3d animation next, but it appears to be so dang hard, like i don't know that much of the
                    principles of animation, neither operating the animation suite that blender provides. (tried it once
                    and never again)
                    <br>
                    <br>
                    i may figure out how to animate, but thats something that's gonna take awhile for sure.
                    <br>
                    <br>
                    anyways, you can view my work at my <a
                        href="https://bsky.app/profile/venv-at.bsky.social">bluesky</a>
                </p>
            </div>

            <div id="hobby-programming" class="info-outline round">
                <h4>programming</h4>
                <p>i like to code and heres all of the languages that i know:</p>
                <div class="info-outline round">
                    <p> <i class="devicon-lua-plain"></i> lua</p>
                    <p>easy language, im pretty good at it</p>
                </div>
                <div class="info-outline round">
                    <p><i class="devicon-python-plain"></i> python</p>
                    <p>easy language, im pretty good at it</p>
                    <p>hate indenting tho</p>
                </div>
                <div class="info-outline round">

                    <p><i class="devicon-rust-original"></i> rust</p>
                    <p>i tihnk i forgot how to code rust</p>
                </div>
                <div class="info-outline round">
                    <p><i class="devicon-typescript-plain"></i> typescript</p>
                    <p> i hate webdev</p>
                </div>
                <div class="info-outline round">
                    <p><i class="devicon-opengl-plain"></i> gdshader/glsl</p>
                    <p>i write shaders</p>
                </div>
            </div>
            <div class="info-outline round">
                <h4>photography</h4>
                <p> sometimes i go outside and i take photos to share them with the world.
                </p>
            </div>
        </div>

    </div>

    <div id="socials" class="pad">
        <h1>my socials! you can find me here:</h1>
        <div id="socials-container">
            <div id="clock">
                <p>i live in the Mountain Standard time zone, so my time is:</p>
                <h1 id="clock-time">00:00</h1>
            </div>
            <div class="info-outline round">
                <p> <i class="bi bi-discord"></i> discord - venv</p>
            </div>
            <div class="info-outline round">
                <p>
                    <i class="bi bi-bluesky"></i>
                    <a href="https://bsky.app/profile/venv-at.bsky.social">click to see my bluesky</a>
                </p>
            </div>
            <div class="info-outline round">
                <p>
                    <i class="bi bi-youtube"></i>
                    <a href="https://www.youtube.com/@venv-loves-cats">youtube</a>
                </p>
            </div>
            <div class="info-outline round">
                <p>
                    <i class="bi bi-github"></i>
                    <a href="https://github.com/no-venv/">github</a>
                </p>
            </div>
            <div class="info-outline round">
                <p>
                    <i class="bi bi-braces"></i>
                    <a href="https://leetcode.com/u/user9069aa/">leetcode</a>
                </p>
            </div>

        </div>
    </div>
</div>
