<div id="app-cool">
    <a href="http://www.infiltration.org/">
        <img src="/images/cool_websites/infiltration.png"> <br>
        <p>infiltration.org - an urban exploration site</p>
    </a>
    <a href="https://vikpahwa.com/">
        <img src="/images/cool_websites/vikpahwa.png"> <br>
        <p>vikpahwa.com - toronto photography website</p>
    </a>
    <a href="https://lospec.com/">
        <img src="/images/cool_websites/lospec.png"> <br>
        <p>lospec.com - website for colour pallettes!</p>
    </a>
    <a href="https://www.arthurerickson.com/">
        <img src="/images/cool_websites/arthur.png"> <br>
        <p>arthurerickson.com - canadian architect</p>
    </a>
</div>
