<div id="app-home">
    <!-- <div>
        <h2>welcome to venvitter</h2>
        <p>an anonymous, twitter clone </p>
    </div> -->
    <!-- <div id="guestboard-view">
    </div> -->
    <h2>hi, guestboard coming soon</h2>
    <!-- <div class="info-outline guestboard-template">
        <h2>from the venv</h2>
        <p>hello!</p>
    </div>


    <div id="guestboard-floating-input">
        <input id="guestboard-username">
        <input id="guestboard-msg">
        <button>post</button>
    </div> -->
</div>
