/* https://lospec.com/palette-list/scaled-and-icy
https://lospec.com/palette-list/golden-haze */
.site-theme {
    /* e63946 */
    /* FFF2EA */
    --primary: #7b7b7b99;
    --secondary: #6a75a0;
    --text: #ffffff;
    --text-alt: #000000;
    --background: #21181b;
    --color7: #7b7b7b99;
    --color8: #7b7b7b99;
    .flickr-embed {
        background-color: var(--white) !important;
        border: var(--white);
    }
}
