/* https://lospec.com/palette-list/scaled-and-icy
https://lospec.com/palette-list/golden-haze */
.site-theme {
    /* e63946 */
    /* FFF2EA */
    --primary: #ed75c5;
    --secondary: #ff8960;
    --text: #FFF2EA;
    --background: #21181b;
    --color7: #FFF2EA;
    --color8: #FFF2EA;
    background-image: url("/ts/apps/novenv/assets/images/background.png");
    background-size: cover;

    .flickr-embed {
        background-color: var(--white) !important;
        border: var(--white);
    }
}
