/* https://lospec.com/palette-list/scaled-and-icy
https://lospec.com/palette-list/golden-haze */
.site-theme {
    /* e63946 */
    /* FFF2EA */
    --primary: #e63946;
    --secondary: #f2ab37;
    --text : #FFF2EA;
    --background: #21181b;
    --color7: #FFF2EA;
    --color8: #FFF2EA;

    background-image: linear-gradient(#fff2ea12 2px, transparent 1px), linear-gradient(to right, #fff2ea12 2px, transparent 1px);
    background-size: 37px 37px;
    background-color: #21181b;
    background-position: center;
    /* background-image: url("/assets/images/home/wallpaper/f1.png") !important; */
    /* background-size:cover;
    background-position: center; */

    /* a {
        color: var(--white);
    } */

    .flickr-embed {
        background-color: var(--white) !important;
        border: var(--white);
    }
}
