/* https://lospec.com/palette-list/scaled-and-icy
https://lospec.com/palette-list/golden-haze */
.site-theme {
    --color1: #fff3a5;
    --color2: #fff3a5;
    --color3: #de923a;
    --color4: #a05611;
    --color5: #532b0b;
    --color6: #2d1604;
    --color7: #000;
    --color8: #fff;

    background-image: linear-gradient(#e8ebf0 2px, transparent 2px), linear-gradient(to right, #e8ebf0 2px, transparent 2px);
    background-size: 37px 37px;
    background-color: #ffffff;
    background-position: center;
    /* background-image: url("/assets/images/home/wallpaper/f1.png") !important; */
    /* background-size:cover;
    background-position: center; */

    /* a {
        color: var(--white);
    } */

    .flickr-embed {
        background-color: var(--white) !important;
        border: var(--white);
    }
}
