@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Ropa+Sans:ital@0;1&family=Syne:wght@400..800&display=swap');

viewport-begin {
    display: none;
}

#app-container {
    padding: 16px;
    box-sizing: border-box;
    border: solid 1px rgba(0, 0, 0, .2);
    background-position: center;
    image-rendering: crisp-edges;
    background-image: url("/assets/images/home/wallpaper/f1blur.png");
    display: flex;
    flex-direction: column;
    width: 850px;
    height: 850px;
    gap: 14px;
}

#app-intro {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 199;
    background-color: var(--dark-blue);
}

#app-viewport {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: auto;

    >* {
        flex-shrink: 0;
        width: 100%;
    }
}

#hidden_views {
    display: none;
}

iframe {
    border: none;
}

body {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    overflow: hidden;
}

button {
    color: var(--color8);

    * {
        color: var(--color8)
    }

    background-color: var(--color7);
    border: none;
    border-radius: 16px;
    padding: 8px;
    font-weight: bold;
}

input {
    padding: 12px;
}

@media (orientation: portrait) {
    #app-container {
        width: 95% !important;
        height: 95% !important;
    }
}

@media screen and (max-width: 850px), (max-height: 850px) {
    #app-container {
        width: 95% !important;
        height: 95% !important;
    }
}

@font-face {
    font-family: soopafre;
    src: url("/assets/fonts/soopafresh/soopafre.ttf");
}

@font-face {
    font-family: sf;
    src: url("/assets/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF");
}

@font-face {
    font-family: sketart;
    src: url("/assets/fonts/urban_sketart/UrbanSketart.ttf");
}

@font-face {
    font-family: keyboard;
    src: url("/assets/fonts//input_fonts/keyboard/kenney_input_keyboard_&_mouse.ttf")
}

@font-face {
    font-family: touch;
    src: url("/assets/fonts//input_fonts/touch/kenney_input_touch.ttf")
}

.touch-font{
    font-family: touch;
}
.keyboard-font {
    font-family: keyboard;
}
* {
    color: var(--color7);
    font-family: "sf";
    margin: 0;
}

p,
h1,
h4,
b {
    mix-blend-mode: luminosity;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background: var(--color7);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color2);
}

.pad {
    box-sizing: border-box;
    /* padding: 0 0 0 0; */
}

.info-outline {
    /* max-width: 320px; */
    padding: 16px;
    border: 1px solid var(--color7);
}

.info-filled {
    padding: 16px;
    background-color: var(--color2);
    color: var(--color6) !important;
}

.hide-scrollbar {
    overflow-x: hidden !important;
}

.hidden {
    display: none !important;
}

.round {
    border-radius: 16px 16px 16px 16px;
}

.shadow {
    box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.413);
}

.border {
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.blur-noise {
    backdrop-filter: blur(4px);
    background-image: url("/assets/images/noise/texture.png");
}

.button-1-aspect {
    aspect-ratio: 1;
}

input {
    mix-blend-mode: luminosity;
    font-size: 16px;
}

input::placeholder {
    color: var(--color1);
    font-weight: bold;
}
