<div id="app-artstuff">

    <div id="app-artstuff-topbar" class="topbar">
        <a href="#renders">completed renders</a>
        <a href="#logos">logos</a>
        <a href="#banner">banners</a>
        <a href="#vfx">vfx</a>
        <a href="#scraps">scrapz</a>
    </div>

    <div id="app-artstuff-inner" class="viewport hide-scrollbar round">
        <div id="renders">
            <img class="art_img" alt="one of my oc's for a future project im working on :)

            this was created in blender
            " src="ts/apps/novenv/assets/images/art_stuff/completed/1.jpg">
            <img class="art_img" alt="2d from gorillaz
            
            this was created in blender
            " src="ts/apps/novenv/assets/images/art_stuff/completed/2.jpg">
            <img class="art_img" alt="i made axolotl blobs, idk what else to say
            
            this was created in blender & godot engine (rendering)
            " src="ts/apps/novenv/assets/images/art_stuff/completed/10.jpg">
            
            <video class="art_img"alt="jellyfish
            
            this was created in blender & godot engine (rendering & animation with vertex shaders)
            " src="ts/apps/novenv/assets/images/art_stuff/completed/12.mp4"></video>
            <img class="art_img" alt="house from the movie Up
            
            this was created in blender & godot engine (rendering)
            " src="ts/apps/novenv/assets/images/art_stuff/completed/11.jpg">
            <img class="art_img" alt="emotional crosslights
            
            this was created in blender cycles
            " src="ts/apps/novenv/assets/images/art_stuff/completed/3.jpg">
            <img class="art_img" alt="liminal space
            
            this was created in blender & godot engine (rendering)
            " src="ts/apps/novenv/assets/images/art_stuff/completed/4.jpg">
            <img class="art_img" alt="liminal space
            
            this was created in blender cycles
            " src="ts/apps/novenv/assets/images/art_stuff/completed/8.jpg">
            <img class="art_img" alt="rock
            
            this was created in blender & godot engine (rendering)
            " src="ts/apps/novenv/assets/images/art_stuff/completed/5.jpg">
            <img class="art_img" alt="liminal space
            
            this was created in blender & godot engine (rendering)
            " src="ts/apps/novenv/assets/images/art_stuff/completed/6.jpg">
            <img class="art_img" alt="soup
            
            this was created in blender & godot engine (rendering)
            " src="ts/apps/novenv/assets/images/art_stuff/completed/9.jpg">

        </div>
        <div id="vfx">
            <video alt="wanted to experiment with godot's particle systems, made this thing idk" class="art_img"
                src="ts/apps/novenv/assets/images/art_stuff/vfx/1.mp4"></video>
        </div>
        <div id="logos">
            <img alt="i created this for my roblox plugin, avatarBoom, which allows people to create their own avatars in roblox studio.  
            
            the logo was created in blender 4.1 eevee" class="art_img"
                src="ts/apps/novenv/assets/images/art_stuff/logos/1.png">

        </div>
        <div id="banner">
            <img alt="this is a server banner that i got commissioned for. they asked for a retro feel, and this is what i created :)
            
            this was created in blender & godot engine
            " class="art_img" src="ts/apps/novenv/assets/images/art_stuff/banners/1.png">

        </div>
        <div id="scraps">
            <img class="art_img" alt="material test" src="ts/apps/novenv/assets/images/art_stuff/scraps/1.jpg">
            <img class="art_img" alt="unfinished samsung z fold" src="ts/apps/novenv/assets/images/art_stuff/scraps/2.jpg">
            <img class="art_img" alt="unfinished plankton" src="ts/apps/novenv/assets/images/art_stuff/scraps/3.jpg">
            <img class="art_img" alt="conjoined dogs" src="ts/apps/novenv/assets/images/art_stuff/scraps/4.jpg">
            <img class="art_img" alt="first iteration of my robot oc" src="ts/apps/novenv/assets/images/art_stuff/scraps/5.jpg">
            <img class="art_img" alt="fish" src="ts/apps/novenv/assets/images/art_stuff/scraps/6.jpg">
            <video class="art_img" alt="eye rig" src="ts/apps/novenv/assets/images/art_stuff/scraps/7.mp4"></video>
            <img class="art_img" alt="balloons" src="ts/apps/novenv/assets/images/art_stuff/scraps/7.jpg">
            <img class="art_img" alt="second iteration of my oc, later i remade the entire rig and model to be low poly and flexible" src="ts/apps/novenv/assets/images/art_stuff/scraps/8.jpg">
        </div>
        <div id="app-artstuff-overlay">
            <div id="app-artstuff-description-container" class="round">
                <p id="app-artstuff-description">text goes here</p>

            </div>
        </div>
    </div>

</div>
