#app-artstuff {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#app-artstuff-inner {
    width: 100%;
    height: 100%;
}

#app-artstuff-overlay {
    /* position: relative; */
    display: flex;
    
    flex-direction:  column-reverse;
    gap: 8px;
    .art_img {
        /* position: absolute; */

        width: 100% !important;
        height: 100% !important;
        object-fit: contain;
    }

}

#app-artstuff-description-container {
    background-color: rgba(0,0,0,.5);
    /* top: 80%; */
    margin: 8px;
    p{
        text-align: center;
        white-space: pre-line;
    }
    width: 100%;
    height: 10%;
    /* background-color: lin; */
}

.art_img {

    width: 150px;
    object-fit: cover;
    aspect-ratio: 1;
    height: 150px;
}
