#app-artstuff {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#app-artstuff-inner {
    width: 100%;
    height: 100%;

    div:not(#app-artstuff-overlay) {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        padding: 8;
        align-content: flex-start;
        box-sizing: border-box;
    }
}

#app-artstuff-overlay {
    /* position: relative; */
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;

    .art_img {
        /* position: absolute; */

        width: 100% !important;
        height: 100% !important;
        object-fit: contain;
    }

}

#app-artstuff-description {
    text-align: center;
    font-size: 18px;
    text-align: center;
    white-space: pre-line;
}


.art_img {

    width: 150px;
    object-fit: cover;
    aspect-ratio: 1;
    height: 150px;
}
