<div id="app-cool">
    <a href="http://www.infiltration.org/">
        <img src="/ts/apps/novenv/assets/images/cool_websites/infiltration.png">
        <p>infiltration.org - an urban exploration site</p>
    </a>

    <a href="https://www.uer.ca/">
        <img src="/ts/apps/novenv/assets/images/cool_websites/uer.jpg">
        <p>uer.ca - an urban exploration site</p>
    </a>
    <a href="https://vikpahwa.com/">
        <img src="/ts/apps/novenv/assets/images/cool_websites/vikpahwa.png">
        <p>vikpahwa.com - toronto photography website</p>
    </a>
    <a href="https://lospec.com/">
        <img src="/ts/apps/novenv/assets/images/cool_websites/lospec.png">
        <p>lospec.com - website for colour pallettes!</p>
    </a>
    <a href="https://www.arthurerickson.com/">
        <img src="/ts/apps/novenv/assets/images/cool_websites/arthur.png">
        <p>arthurerickson.com - canadian architect</p>
    </a>
    <a href="https://github.com/dmotz/trystero">
        <img src="/ts/apps/novenv/assets/images/cool_websites/trystero.png">
        <p>trystero - free multiplayer with webrtc</p>
    </a>
    <a href="https://godotengine.org/">
        <img src="/ts/apps/novenv/assets/images/cool_websites/godot.png">
        <p>godotengine.org - free and easy to use game engine</p>
    </a>
    <a href="https://blender.org">
        <img src="/ts/apps/novenv/assets/images/cool_websites/blender.png">
        <p>blender.org - free 3d software</p>
    </a>
    <a href="https://freshluts.com/">
        <img src="/ts/apps/novenv/assets/images/cool_websites/freshluts.png">
        <p>freshluts.com - free LUTS for photography</p>
    </a>
</div>
